@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">
            <h2>Age Checker</h2>
            <form action="Result" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="imie">Podaj swoje imie:</label>
                    <input class="form-control" type="text" name="imie" id="imie" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="wiek">Podaj swoją datę urodzin:</label>
                    <input class="form-control" type="date" name="wiek" id="wiek" />
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Wyślij</button>
                </div>
            </form>
        </div>
    </div>
</div>