@model Kontakt

<h3>Czy na pewno chcesz usunąć ten kontakt?</h3>

<form asp-action="Delete" asp-controller="Kontakt" method="get">
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="submit" value="Usuń" class="btn btn-danger" />
    <a asp-action="Index" asp-controller="Kontakt">Anuluj</a>
</form>