@model Dictionary<int, Kontakt>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <center>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Kontakt">Utwórz kontakt</a>
    </center>
</div>
<br />
<h1>Lista kontaktów</h1>
<div>
    <table class="table">
<tr>
        <th>
            Nazwa
        </th>
        <th>
            Email
        </th>
    </tr>
    @foreach(var item in @Model)
    {
        <tr>
            <td>
                @item.Value.Nazwa
            </td>
            <td>
                @item.Value.Email
            </td>
        <td>
                <a class="btn btn-outline-primary" 
                    asp-action="Update" 
                    asp-controller="Kontakt" 
                    asp-route-id=@item.Value.Id>Edytuj</a>
                <a class="btn btn-outline-info" 
                    asp-action="Details" 
                    asp-controller="Kontakt" 
                    asp-route-id=@item.Value.Id>Szczegóły</a>
                <a class="btn btn-outline-danger" 
                    asp-action="Delete" 
                    asp-controller="Kontakt" 
                    asp-route-id=@item.Value.Id>Usuń</a>
            </td>
        </tr>
    }
    </table>

</div>
