@model Kontakt

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Edycja kontaktu</h1>
<form asp-controller="Kontakt" asp-action="Update" method="post">
    @*<div asp-validation-summary="All"></div>*@
    <div class="mb-3">
        <label asp-for="Nazwa">Imię</label>
        <input class="form-control" asp-for="Nazwa" />
        <span class="tet-danger" asp-validation-for="Nazwa"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email">E-mail</label>
        <input class="form-control" asp-for="Email" />
        <span class="tet-danger" asp-validation-for="Email"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Telefon">Numer telefonu</label>
        <input class="form-control" asp-for="Telefon" />
        <span class="tet-danger" asp-validation-for="Telefon"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Dataur">Data urodzenia</label>
        <input class="form-control" asp-for="Dataur" />
        <span class="tet-danger" asp-validation-for="Dataur"></span>
    </div>

    <button type="submit">Zapisz</button>
</form>