@model Product

<h1>Usuń produkt</h1>

<form asp-controller="Product" asp-action="Delete" method="post">
    <div>
        <p>Czy na pewno chcesz usunąć produkt o nazwie: @Model.Nazwa?</p>
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Usuń</button>
        <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
    </div>
</form>