@model Product

<h1>Edycja produktu</h1>
<form asp-controller="Product" asp-action="Update" asp-route-id="@Model.Id" method="post">
    <input asp-for="Id" type="hidden" /> <!-- Pole Id ukryte, aby zidentyfikować produkt do aktualizacji -->

    <div class="mb-3">
        <label asp-for="Nazwa">Nazwa</label>
        <input class="form-control" asp-for="Nazwa" />
        <span class="text-danger" asp-validation-for="Nazwa"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Cena">Cena</label>
        <input class="form-control" asp-for="Cena" />
        <span class="text-danger" asp-validation-for="Cena"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Producent">Producent</label>
        <input class="form-control" asp-for="Producent" />
        <span class="text-danger" asp-validation-for="Producent"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DataProdukcji">Data produkcji</label>
        <input class="form-control" asp-for="DataProdukcji" type="date" />
        <span class="text-danger" asp-validation-for="DataProdukcji"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Opis">Opis</label>
        <textarea class="form-control" asp-for="Opis"></textarea>
        <span class="text-danger" asp-validation-for="Opis"></span>
    </div>

    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
</form>
