@model Projekt___produkty.Models.Product

<h3>Czy na pewno chcesz usunąć ten produkt?</h3>

<form asp-action="Delete" asp-controller="Product" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Usuń</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
</form>
