@model Calculator
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<H3>@Model.l1 @Model.Op @Model.l2 = @Model.Calculate()</H3>